footer{
	position: absolute;
	color: #fff;
	background-color: #000;
	width: 100%;
	padding: 0 0 5px 0;
	font-size: 12px;
	text-align: center;
	margin: auto;
	margin: 0;
	padding: 0;
}
#blockContent{
	margin-top: 3%;
}
div.jumbotron{
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}
.sideBar{
	vertical-align: top;
	margin-top: 1%;
}
.row{
	display: inline-block;
	width: 100%;
}
.row, .col{
	text-align: left;
}
.col-lg-3{
	width: 25%;
	display: inline-block;
}
.col-lg-9{
	width: 74%;
	display: inline-block;
}
.col-lg-2{
	width: 16%;
	display: inline-block;
}
.col-lg-1{
	width: 8%;
	display: inline-block;
}
.header{
	font-weight: bold;
}
.mainFrame{
	text-align: center;
	margin: 0 15%;
	width: 70%;
	height: 100%;
}
.nav{
	padding: 0 15%;
}
.fieldset{
	margin-top: 1%;
}